## Über uns

Wir — das ist die Gruppe Metadateninfrastruktur des Hochschulbibliothekszentrums NRW (hbz). Im Laufe unserer Geschichte haben wir uns die Bereitstellung offener und webkonformer Metadaten zur Aufgabe gemacht, entwickeln und pflegen Free and Open Source Software (FOSS) und beteiligen uns an der community-basierten Entwicklung offener Standards.
