## Über uns

Das Hochschulbibliothekszentrum des Landes Nordrhein-Westfalen (hbz) beschäftigt sich seit vielen Jahren mit dem Aufbau, Angebot und der Weiterentwicklung von offenen Metadateninfrastrukturen im Web. So haben wir uns die Bereitstellung offener und webkonformer Metadaten zur Aufgabe gemacht, entwickeln und pflegen Free and Open Source Software (FOSS) und beteiligen uns an der community-basierten Entwicklung offener Standards. Mit der Bereitstellung des Forums [metadaten.community](https://metadaten.community) unterstützung wir Austausch und Vernetzung in der deutschsprachigen Community von Metadatenpraktiker:innen.
