
- [Reconciling mit OpenRefine und der GND](https://fdmlab.landesarchiv-bw.de/workshop/openrefine-einsteiger/06-reconciling-mit-gnd/)
- [Verknüpfungen zwischen Korpora erstellen durch GND-Verschlagwortung](https://www.fachportal-paedagogik.de/graph/index.html)
- [Datenabgleich mit Geburtsdaten, Todesdaten, Beruf oder Anstellung (eng)](https://blog.lobid.org/2019/09/30/openrefine-examples.html)
- [Named-entity Recognition und Gemeinsame Normdatei zur Verbesserung der Erschließung](https://fdmlab.landesarchiv-bw.de/post/2023-02-ner-und-gnd-zur-verbesserung-der-erschliessung/)
- [Experimente mit Visualisierungen für Sachbegriffe in der GND](https://fdmlab.landesarchiv-bw.de/post/2022-05-experiment-mit-gnd-visualisierungen/)
- [Erweiterter GND Abgleich mit lobid](https://fdmlab.landesarchiv-bw.de/workshop/openrefine-fortgeschrittene/15-erweiterter-gnd-abgleich-mit-lobid/)
- [Extraktion und Abgleich von Prokuratoren mit OpenRefine](https://fdmlab.landesarchiv-bw.de/post/2021-09-erfahrungsbericht-extraktion-und-abgleich-von-prokuratoren-mit-openrefine/)
- [Findbuchdaten mit OpenRefine wiederverwenden](https://fdmlab.landesarchiv-bw.de/post/2021-08-findbuch-daten-mit-openrefine-wiederverwenden/)
- [Findbuch Index mit OpenRefine aufbereiten](https://fdmlab.landesarchiv-bw.de/post/2021-07-findbuch-index-mit-openrefine-aufbereiten/)
- [Abgleich 'unsauberer' Ortsnamen mit der GND in OpenRefine (Videotutorial)](https://www.youtube.com/watch?v=tCdluPq5GkA)
- [Weitere Datenservices zur Nutzung in OpenRefine](https://reconciliation-api.github.io/testbench/#/)
- [lobid-gnd – Eine Schnittstelle zur Gemeinsamen Normdatei für Mensch und Maschine](https://journals.ub.uni-heidelberg.de/index.php/ip/article/view/52673/51904)
- [Ein Protokoll für den Datenabgleich im Web am Beispiel von OpenRefine und der Gemeinsamen Normdatei (GND)](https://www.degruyter.com/document/doi/10.1515/9783110691597-013/html)