- [OpenRUB X OERSI – Freie Lernmaterialien suchen, finden, teilen](https://elearning.blogs.ruhr-uni-bochum.de/openrub-x-oersi-freie-lernmaterialien-suchen-finden-teilen/)
- [Hochschulforum Digitalisierung: OERSI – Die Suche nach freien Bildungsmaterialien für die Hochschullehre](https://hochschulforumdigitalisierung.de/de/blog/oersi-suche-nach-freien-bildungsmaterialien-hochschullehre)
- [COMEIN: Communities of Practice NRW für eine innovative Lehrerbildung](https://comein.nrw/portal/)
- [Wir lernen online. Freie Bildung zum Mitmachen.](https://wirlernenonline.de/bildungsmaterialien/)

