@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
/* open-sans-300 - latin */
@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/open-sans-v35-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
  
/* open-sans-400 - latin */
@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/OpenSans-Regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }


/* open-sans-600 - latin */
@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/OpenSans-Semibold.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }

/* open-sans-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/open-sans-v35-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }

  a {
    text-decoration: underline;
  }

  .md h2 {
    @apply text-[36px];
    @apply text-[#AF2896];
    @apply uppercase;
    @apply text-left;
    @apply font-normal;
    @apply mb-[20px];
    @apply md:text-center;
  } 

  .md h2:not(:first-of-type) {
    @apply mt-[70px];
  } 

  .md h3 {
    @apply text-2xl;
    @apply text-[#AF2896];
    @apply uppercase;
    @apply text-left;
    @apply md:text-center;
    @apply mt-[70px];
    @apply mb-[30px];
    @apply tracking-wide;
  } 

  .md > p {
    @apply font-light;
    @apply tracking-wide;
    @apply text-[14px];
  }

  .md > blockquote {
    @apply inline;
  }

  .md > blockquote > p {
    @apply font-normal;
    @apply inline;
  }

  .md p.quoteAuthor {
    @apply inline-block;
    @apply font-normal;
    @apply mb-[10px];
  }

  .example-links li {
    @appy inline-block;
    @apply my-[10px];
  }


}

@layer utilities {
	.hbz-text-shadow {
	  text-shadow: 9px 4px 20px rgba(0, 0, 0, 0.25);
	}
  }
