@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
		font-family: 'Barlow Condensed';
		src: local('Barlow Condensed'), local('Barlow-Condensed'), local('barlow condensed'), local('barlow-condensed'),
			url('/fonts/BarlowCondensed-Medium.ttf');
		font-weight: medium;
		font-display: swap;
	}

  @font-face {
		font-family: 'Roboto Mono';
		src: local('Roboto Mono'), local('Roboto-Mono'), local('roboto mono'), local('roboto-mono'),
			url('/fonts/RobotoMono-Medium.ttf');
		font-weight: medium;
		font-display: swap;
	}

  @font-face {
		font-family: 'Roboto Slab';
		src: local('Roboto Slab'), local('Roboto-Slab'), local('roboto slab'), local('roboto-slab'),
			url('/fonts/RobotoSlab-Bold.ttf');
		font-weight: bold;
		font-display: swap;
	}
  a {
    text-decoration: underline;
  }

}

@layer utilities {
	.hbz-text-shadow {
	  text-shadow: 9px 4px 20px rgba(0, 0, 0, 0.25);
	}
  }
